<div class="d-flex">
    <div class="p-2 flex-fill ">
        <!-- <div class="p-2 flex-fill " *ngIf="isImporterVisible"> -->
        <button type="button" class="btn btn-warning">
            <span>🖨Importer</span>
        </button>
    </div>
    <div class="p-2 flex-fill ">
        <!-- <div class="p-2 flex-fill " *ngIf="isExporterVisible"> -->
        <button type="button" class="btn btn-success">
            🔦 Exporter
        </button>
    </div>
    <div class="p-2 flex-fill ">
        <!-- <div class="p-2 flex-fill " *ngIf="isNouveauVisible"> -->
        <button type="button" class="btn btn-primary" (click)="buttonNouveauClicked()">
            ➕ Nouveau
        </button>
    </div>
</div>